@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;  
}
h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.bg-green {
  background: lightgreen;
}
.bg-light {
  background: #e5e5e5;
}
.text-green {
  color: green;
}
img {
  width: 100%;
}

.btn {
  /* display: inline-block; */
  text-decoration: none;
  background: green;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: smaller;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.7;
}
.para-text {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: justify;
}
.sec-heading {
  font-size: 26px;
  border: 2px solid green;
  padding: 4px 8px;
}
.ter-heading {
  font-size: 20px;
  border: 2px solid green;
  padding: 2px 4px;
}
/* Top header */
.top-header {
  background: #222;
  color: #fff;
  /* padding: 0 30px; */
  opacity: 0.9;
  position: fixed;
  top: 0;  
  left: 0;  
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 601px) and (max-width: 812px) {
  .top-header {
    flex-direction: row;
    padding-top: 10px;
    height: 90px;
    position: absolute;
  }
}

@media (max-width: 600px) {
  .top-header {
    flex-direction: column;
    padding-top: 10px;
    height: 110px;
    position: absolute;
  }
}

.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid green;
  padding: 0 10px;
}
.logo span {
  color: green;
  font-size: 1.5em;
}
.top-header ul {
  display: flex;
}

.top-header a {
  display: inline-block;
  color: #fff;
  margin: 0 10px;
  padding: 10px 20px;
  transition: 0.5s;
}

.top-header a:hover {
  border-top: 2px solid green;
  border-top-left-radius: 15px;
}

/* Showcase */
.header {   
  background: url(https://source.unsplash.com/1600x900/?nature,water) no-repeat center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.top-slogan {
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 40px;
  /* padding-top: 50px; */
}

 @media (max-width: 600px) {
  .top-slogan {
    padding: 0 40px;
  }
}

.top-slogan h1 {
  margin: 10px 0;
  font-size: 55px;
}
.top-slogan p {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: lightgreen;
}
.top-slogan h4 {
  font-weight: 400;
  letter-spacing: 5px;
}
main {
  padding: 10px 20px;
}
.column-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.column-items p {
  width: 80%
}
.row-items {
  display: flex;
  text-align: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 20px 3px;
  width: 100%;
  padding: 20px 10px;
  flex: 1 1 300px;
}

@media (min-width: 501px) and (max-width: 955px) {
  .row-items {
    flex-wrap: wrap;
  }
  .item {
    margin: 3px;
  }
}
@media (max-width: 500px) {
  .row-items {
    flex-wrap: wrap;
  }
  .item {
    margin: 3px;
  }
}

.item p {
  margin-bottom: 25px;
}

.recipe-images {
  margin: 2rem 0;
}
.recipe-album {
  display: flex;
  flex-wrap: wrap;
}
.recipe-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
  border: 2px #222 solid;
}

.recipe-album img:hover {
  opacity: 0.7;
}
.recipe-album > .normal {
  flex: 1 1 12rem;
  margin: 0.25rem;
}

.recipe-album > .portrait {
  flex: 1 1 17rem;
  margin: 0.25rem;
}

.recipe-album > .landscape {
  flex: 1 1 20rem;
  margin: 0.25rem;
}

footer {
  height: 50px;
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}

/* About Us */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* position: relative; */
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 100px;
  text-align: center;
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;margin: 2rem 0;
}
.top-margin {
  margin-top: 40px;
}

.team {
  display: flex;
  width: 100%;
  margin: 10px 0;
  border: 2px solid #222;
}
.reverse {
  flex-direction: row-reverse;
}

.team > .employee img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team .employee {
  /* width: 100%; */
}
.team .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
}
.team .description h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
.team .description h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
@media (max-width: 668px) {
  .team {
    flex-direction: column;
  }
  .team .employee {
    background-color: lightgreen;
  }
  .main-header {
    padding: 0 50px;
  }
}

/* Contact Us */


.contact {
  height: 13vh;
  width: 100%;
  /* position: relative; */
}
.contact-heading {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.container {
  width: 100%;
  margin: 2rem 0;
}
.contact-form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.message {
  display: flex;
  justify-content: center;
}
.contact-form .form {
  flex: 1;
  padding: 1rem;
}
.contact-form .form label {
  display: block;
  margin-top: 1rem;
}
.contact-form .form input,
.contact-form .form textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
}
.contact-form .form button {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.contact-form .form input:hover,
.contact-form .form textarea:hover {
  outline: none;
  border-color: green;
}
.contact-form .form button {
  margin-top: 1.5rem;
}

.contact-form .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  flex: 1;
}
.contact-form .address .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
}
.contact-form .address .box i {
  margin-bottom: 1rem;
}
.contact-form .address .box h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
 @media (max-width: 600px) {
   .contact-form {
     flex-direction: column;
   }
 }

 /* <div class="main-header">
      <h1 class="text-green sec-heading"><i class="fas fa-seedling fa-x"></i> About Our Goals</h1>
      <p class="para-text top-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tempore atque, dolorum eligendi et impedit.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi necessitatibus minus aperiam totam dolorem vel assumenda accusamus voluptatibus dolores tempora.</p> 
    </div> */